.post{
    display: flex;
    align-items: center;
    gap: 50px;
    margin-bottom: 50px;
    border: 1px solid #555;
    border-radius: 15px;
}
.imageContainer{
    height: 100%;
}
.post:nth-child(even){
    background-color: black;
    flex-direction: row-reverse;
}
.image{
    object-fit: contain;
    border-radius: 15px;
}
.title{
    font-weight: 700;
    font-size: 32px;
}
.text{
    font-size: 18px;
    line-height: 1.5rem;
}