.logout{
    background-color: black;
    color: #fff;
    padding: 10px 15px;
    border-radius: 5px;
    font-weight: 500;
    cursor: pointer;
}
.logout:hover{
    background-color: #ccc;
    transition: .4s all ease;
    color: #000;
}